{% block custom_choice_widget %}
    <div class="my-custom-choice flex flex-row">
        <div role="radiogroup" class="flex border border-blue-800 rounded-sm overflow-hidden divide-x divide-blue-800 h-10">
            {% for child in form %}
                <div class="flex-1">
                    <input
                        type="radio"
                        id="{{ child.vars.id }}"
                        name="{{ child.vars.full_name }}"
                        value="{{ child.vars.value }}"
                        {% if child.vars.checked %}checked="checked"{% endif %}
                        class="peer sr-only"
                    />
                    <label
                        for="{{ child.vars.id }}"
                        class="flex h-10 w-full items-center justify-center cursor-pointer px-4
                       transition-colors duration-200
                       text-blue-800
                       hover:bg-blue-800 hover:text-white
                       peer-checked:bg-blue-800 peer-checked:text-white
                       peer-focus-visible:ring-2 peer-focus-visible:ring-blue-800"
                    >
                        {{ child.vars.label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block custom_enum_widget %}
    {{ block('custom_choice_widget') }}
{% endblock %}

{% block custom_entity_widget %}
    {{ block('custom_choice_widget') }}
{% endblock %}
