{% form_theme form 'form/custom_theme.html.twig' %}

<h1>{{ 'test' | trans}}</h1>

<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.name) }}
        {{ form_row(form.breed, {'help': this.helpMessage}) }}
        {{ form_rest(form) }}
        <twig:Button formnovalidate>{{ button_label|default('Continue') }}</twig:Button>
    {{ form_end(form) }}
</div>
